*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    height: 100%;
    margin: 0;
    background: #f7f7fc;

}

.logo_header {
    display: flex;
    align-items: center;
    height: 42px;
    width: 100%;
    background: #fd7f0f;
}

.open_eyes {
    top: 0;
    left: 5%;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: absolute;
    animation-name: owl;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    z-index: 5;

}

.full_blink {
    top: 0;
    left: 5%;
    height: 40px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: absolute;
    z-index: 4;
}

@keyframes owl {
    0% {
        opacity: 10;
    }

    100% {
        opacity: 0;
    }
}

.title {
    position: absolute;
    left: 15%;
    transition: margin-left 0.5s;
    color: white;

}

.navbar {
    position: fixed;
    top: 40%;
    background-color: #fd7f0f;
    overflow: hidden;
    height: 100px;
    width: 60px;
    border-bottom-right-radius: 110px;
    border-top-right-radius: 110px;

}

.navbar a {
    justify-content: space-around;
    display: flex;
    flex-direction: column;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 14px;

    height: 100%;
    width: 100%;
    opacity: 1;
}


.navbar a:hover {
    background-color: orange;
    color: white;
}

.side-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: #585858;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;

}

.side-nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    transition: 0.3s;
}

.side-nav a:hover {
    color: #fff;
    background-color: #fd7f0f;
}

.side-nav .btn-close {
    position: absolute;
    top: 20px;
    right: 22px;
    font-size: 36px;
    margin-left: 50px;

}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70px;
    padding-top: 10px;



}

.nav_bot {
    padding-bottom: 20px;
}

.btn-close {
    width: 40px;
    height: 40px;
}


.e_icon {
    height: 80px;
    width: 80px;

}

#main {
    transition: margin-left 0.5s;
    padding: 20px;
    overflow: hidden;
    width: 100%;
}

