*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

.boody {
    background: #fd7f0f;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -2;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

.black_container {
    background: black;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
    margin: auto;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);


}

.black_container:active {
    margin: auto;
    animation-name: background;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;

}


.black_container a {
    position: absolute;
    height: 100%;
    width: 100%;
}



.link {
    margin: 0;
    color: white;
    font-family: sans-serif;
    font-size: 48px;
    z-index: 6;
    text-decoration: none;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
}

.welcome {
    display: flex;
    font-size: 50px;
    z-index: 10;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-family:  sans-serif;
    letter-spacing: -3px;



}


.open_eyes {
    height: 50px;
    width: 62px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: absolute;
    animation-name: owl;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 1s;
    animation-timing-function: ease-in;
    top: 45.5%;
    left: 50.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 5;

}

.full_blink {
    height: 50px;
    width: 62px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    position: absolute;
    top: 45.5%;
    left: 50.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: 4;
}


@keyframes owl {
    0% {
        opacity: 10;
    }

    100% {
        opacity: 0;
    }
}

@keyframes background {
    0% {
        background: black;
    }


    100% {
        border-radius: 50%;
        width: 0%;
        height: 0%;

    }


}




